.menu {
    position: relative;
    top: -17px;
    width: 228px;
    height: 100px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #72e0bf, #0f3fdb);
    font-size: 18px;
    
}